* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/** SCROLL DIV */

#top {
    width: 0;
    height: 0;
}

/** NAVIGATION */

.nav-header {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-header .nav-logo {
    cursor: default;
}

.nav-header .nav-logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.nav-header .nav-logo img:hover {
    transform: scale(1, 0.9);
}

.nav-logo-img {
    border: 10px solid #a3261f;
}

.nav-header .nav-links {
    list-style: none;
}

.nav-header .nav-links li {
    display: inline-block;
    padding: 0, 20px;
    margin-inline-end: 25px;
    margin-inline-start: 45px;
}

.nav-header .nav-links li:hover {
    transform: scale(1.1);
}

.nav-header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.nav-header .nav-links li a:hover {
    color: #a3261f;
}

.nav-header .nav-btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-header .nav-btn button:hover {
    background-color: #e2f1f8;
    color: #a3261f;
    transform: scale(1.1);
}

/** POKEMON LIST ITEM */
.pokemon-list-container {
    border: 1px solid #44b0d1;
    width: 25%;
    padding: 15px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2f1f8;
}

@media (max-width: 450px) {
    .pokemon-list-container {
        width: 50%;
    }
}

.pokemon-list-title-container{
    display: block;
    flex-direction: column;
    align-items: center;
}

.pokemon-list-nameandnumber {
    display: inline-flex;
    align-items: flex-start;
    text-transform: capitalize;
    font-size: 125%;
    font-weight: 600;
    cursor: default;
    text-align-last: auto;
}

.pokemon-list-number {
    color: #a32f29;
    margin-right: 5px;
    border-radius: 2px solid black;
}

.pokemon-list-name {
    text-decoration: underline;
    z-index: 1;
}

.pokemon-list-name::first-letter {
    color: #bd231b;
    font-weight: 1000;
}

.pokemon-list-moreinfo {
    color: rgb(61, 61, 61);
    font-size: 75%;
}

.pokemon-list-moreinfo:hover {
    color: #660708;
    transform: scale(1.5);
}

.pokemon-list-img {
    transition: all 0.3s;
}

.pokemon-list-img:hover {
    transform: scale(1.7);
}

.pokemon-list-title-container {
    background-color: #44b0d1;
    padding: 25px;
    color: #f7f7f7;
}

.pokemon-list-title {
    text-align: center;
    font-weight: 900;
    font-size: 150%;
    cursor: default;
}

/** POKEMON LIST POKECARDS CONTAINER */

.pokemon-list-pokecards {
    background: #e2f1f8;
    min-height: 500px;
}

/** SEARCH BUTTON */
/* TODO: add search mobile support */
svg {
    width: 30px;
    height: 30px;
    margin-top: 10%;
}

.search {
    position: absolute;
    padding: 5px;
}

.search input {
    width: 0;
    height: 0;
    padding: 0 20px;
    font-size: 18px;
    color: transparent;
    outline: none;
    border: none;
    border-radius: 30px;
    transition: all 0.5s;
    background-color: transparent;
}

.search-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    background: #44b0d1;
    width: 45px;
    height: 45px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #e2f1f8;
}

.search:hover input {
    border: 1px solid #c0c0c0;
    background-color: #e2f1f8;
    color: #000;
    width: 150px;
    height: 35px;
}

.search:hover .search-btn {
    right: 0;
    cursor: default;
}

@media (max-width: 450px){
    .search input{
        border: 1px solid #c0c0c0;
        background-color: #e2f1f8;
        color: #000;
        width: 150px;
        height: 35px;
    }
    .search .search-btn{
        right: 0;
    }
}

/** POKEMON LIST FOOTER */

.pokemon-list-footer {
    background-color: #44b0d1;
    padding: 25px;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.pokemon-list-scrollbtn {
    text-align: center;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    background-color: #e2f1f8;
    color: #44b0d1;
    transition: all 0.35s;
}

.pokemon-list-scrollbtn:hover {
    transform: scale(1.15);
    background-color: #42b4d6;
    color: #e2f1f8;
    border: 1px dashed #fff;
    text-decoration: underline;
}

/* POKEMON URL */
.pokemon-info-container {
    border: 1px solid black;
    padding: 15px;
    display: block;
    background-color: #44b0d1;
}

.pokemon-info-name {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.pokemon-info-name:first-letter {
    color: #bd231b;
    font-weight: 1000;
}

.pokemon-info-imgs {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 5px;
    background: rgb(68, 176, 209);
    background: linear-gradient(90deg, rgba(68, 176, 209, 1) 0%, rgba(226, 241, 248, 1) 50%, rgba(68, 176, 209, 1) 100%);
}

.male-imgs,
.female-imgs {
    display: inline-flex;
}

.pokemon-info-img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-inline: 5px;
    padding: 10px;
    width: 260px;
    height: 176px;
}

.pokemon-info-img-container img {
    width: 130px;
    height: 130px;
    transition: all 0.3s;
}

.pokemon-info-img-container img:hover {
    transform: scale(2);
}

.pokemon-info-img-container h3 {
    font-size: 15px;
    font-weight: bolder;
    text-transform: capitalize;
    text-decoration: underline;
}

.pokemon-info-enumeration {
    text-align: center;
    list-style: none;
    margin: 20px;
    background: #c2e4f0;
    padding: 15px;
    border: 10px solid #a7d9ea;
}

.pokemon-info-enumeration li {
    margin: 10px;
    text-transform: initial;
}

.pokemon-info-enum-number {
    display: inline-flex;
}

.pokeNumber {
    color: #bd231b;
    margin-left: 5px;
    font-weight: 525;
}

.pokemon-info-enum-generation::first-letter{
    text-transform: uppercase;
}

.pokemon-info-enum-forms{
    border: 3px solid #42b4d6;
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.forms-title{
    border-bottom: 3px solid #42b4d6;
}

.pokemon-info-enum-forms ul{
    margin: 10px;
}

.pokemon-info-enum-formsenum li{
    margin: 10px;
    text-transform: initial;
}

.pokemon-info-enum-formsenum li::first-letter{
    color: #bd231b;
    font-weight: 750
}