* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* NAVIGATION */
.nav-header {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: sticky;
    top: 0;
}

.nav-header .nav-logo {
    cursor: pointer;
}

.nav-header .nav-logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.nav-header .nav-logo img:hover {
    transform: scale(1, 0.9);
}

.nav-logo-img {
    border: 10px solid #a3261f;
}

.nav-header .nav-links {
    list-style: none;
}

.nav-header .nav-links li {
    display: inline-block;
    padding: 0, 20px;
    margin-inline-end: 50px;
}

.nav-header .nav-links li:hover {
    transform: scale(1.1);
}

.nav-header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.nav-header .nav-links li a:hover {
    color: #a3261f;
}

.nav-header .btn button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-header .btn button:hover {
    background-color: #e2f1f8;
    color: #a3261f;
    transform: scale(1.1);
}

/* POKEMON LIST ITEM */
.pokemon-list-container {
    border: 1px solid #44b0d1;
    width: 25%;
    padding: 15px 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2f1f8;
}

.pokemon-list-nameandnumber {
    display: inline-flex;
    align-items: flex-start;
    text-transform: capitalize;
    font-size: 125%;
    font-weight: 600;
    cursor: default;
    text-align-last: auto;
}

.pokemon-list-number {
    color: #a32f29;
    margin-right: 5px;
    border-radius: 2px solid black;
}

.pokemon-list-name {
    text-decoration: underline;
}

.pokemon-list-name::first-letter {
    color: #bd231b;
    font-weight: 1000;
}

.pokemon-list-moreinfo {
    color: rgb(61, 61, 61);
    font-size: 75%;
}

.pokemon-list-moreinfo:hover{
    color: #660708;
    transform: scale(1.5);
}

.pokemon-list-img:hover{
    transform:scale(1.7);
}

.pokemon-list-title {
    background-color: #44b0d1;
    padding: 25px;
    text-align: center;
    font-weight: 900;
    font-size: 150%;
    color: #f7f7f7;
}